POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-pzjmfvbdkfm4na549d21yk2tcbvk7jakq2h7qxrfghwtkz
DEBUG=False
DJANGO_ALLOWED_HOSTS=158.160.67.222,127.0.0.1:8080,localhost,food.viewdns.net
DB_NAME=foodgram
